<div class="projects-listing">
  <div class="col-xs-2">
  </div>

  <div class="col-xs-8">
    <div class="centered title-font font-s pro-j">
      Projex
    </div>

    <div class="well">   
      <% @projects.each do |project| %>
        <br>
        <%= link_to project.title, project, id: "new_link", class: "p-t-font font-s" %>
        <hr class="h-width">
        <div class="project-b b-position font-s"><%= project.body %></div>
        <br>
        <i class="font-s"><% if project.user %> by: <%= project.user.user_name%></i>
        <hr>
        <%end%>
      <%end%>
      <%= will_paginate @projects, class: 'will-p font-s' %>
    </div>
  </div>

  <div class="col-xs-2">
  </div>
</div>
