<%=link_to "Create New Project  ||", new_project_path %> 
<hr>
<h1> Project Index </h1>
<hr>
<hr>
<hr>

  <%@projects.each do |project| %>
    <h4> <%= link_to project.title, project %> </h4>
    <p>  <%= project.body %>  </p>
    <hr>
    <p>  <%= project.user_id %> </p>
  <%end%>


