
<div class="page-header blue-background">
<h1>Project Management HUB 1.0 <small> Login to add and delete projects and tasks, or view current projects below</small></h1>
</div>

<h6>  hide me! </h6>

<div class="container">

<div class="cool">
  <h1> Project Index </h1>
</div>

    <%@projects.each do |project| %>
    <h4> <%= link_to project.title, project %> </h4>
    <p>  <%= project.body %>  </p>
     <p>
    <% if project.user %>
    posted by: <%= project.user.email  %> 
    <% end %>
    </p>
    <hr>
  <%end%>

</div>


