.cool{
  background-color:black;
  color:white;
}
ul {
  padding: 0px;

}
li {
  display: inline;
  padding-right: 20px;
}

.blue-background {
margin-top: -20px;
height: 100px;
background-color:black;
padding-left:80px;
padding-right:70px;

}

.bumpmeover {
  padding-left:68px;
}