body {
 background: url('whitebg.jpg') no-repeat;
 color:black;
}


.cool{
  color:gray;
  margin-left: -20px;
}

ul {
  padding: 0px;

}
li {
  display: inline;
  padding-right: 20px;
}

.blue-background {
margin-top: -20px;
height: 100px;
background-color:black;
padding-left:80px;
padding-right:70px;
color:white;
}

.realcenter{
  position: relative;
  text-align: center;
}

.btn{
  background-color: black;
}

.navbar{
background-color: black;
margin-bottom: 50px;
}

.well {
 background-color: rgba(255,255,255,0.5);
 position: relative;
 top: 45px;
 padding: 40px;
 border-radius: 10px;
 width:70%;
}


.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.bumpmeover {
  padding-left:-20px;
}

.buttonbump{
  margin-left:50%;
  float: right;
}

